<section class="hero home-hero is-medium">
  <div class="hero-body">
    <div class="hero-content">
      <p class="hero-label">Hey there!</p>
      <h1 class="hero-name">{{ name() }}</h1>
      <h2 class="hero-role">{{ "jobTitle" | transloco: { label: jobLabel() } }}</h2>

      <div class="hero-summary">
        <p class="hero-summary__text">
          {{ "home.specialized" | transloco: { years: yearsOfExperience() } }}
        </p>
      </div>

      <div class="marquee-wrapper" aria-label="Tech skills marquee" aria-hidden="true">
        <div class="marquee">
          <ul class="marquee__content">
            @for (skill of completeSkills(); track skill.name) {
              <li class="marquee__item">
                @if (skill.icon) {
                  <span class="icon" aria-hidden="true">
                    <i class="{{skill.icon}}"></i>
                  </span>
                }
                <span class="marquee__item-name">{{skill.name}}</span>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
