.hero-body {
  h1, h2 {
    color: white;
  }

}

section {
  min-height: 85.5vh;
  max-height: 90vh;
}

.word-carousel {

  span {
    color: whitesmoke;
  }

  div {
    overflow: hidden;
    height: 65px;
    margin-top: -10px;
    padding-top: 10px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        height: 45px;
        margin-bottom: 45px;
        padding: 0;
        display: block;
        font-weight: 700;
      }
    }
  }
}

.word-carousel > span:nth-child(1) {
  color: white;
}

.custom-card {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255,255,255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  span {
    color: rgb(12, 12, 12);
  }
}

.marquee {
  display: flex;
  position: relative;
  white-space: nowrap;
}

.marquee__content {
  display: flex;
  list-style: none;
  animation: scrolling 60s linear infinite;
}

.marquee__item {
  flex-shrink: 0;
}

@keyframes scrolling {
  0% { transform: translateX(0) }
  100% { transform: translateX(-100%) }
}

.bg {
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, DodgerBlue 0%, red 30%, DarkViolet  55%, DodgerBlue 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
