<section class="section">
  <div class="container">
    <h2 class="subtitle">
      Hey there,
    </h2>
    <h1 class="title">my name is Nicolas Azzara.</h1>

    <h1 class="subtitle">
      I'm a Full-Stack Net Developer <strong>(NET + Angular)</strong> SR.
    </h1>
    <h2 class="subtitle">based in Barcelona, Spain.</h2>
    <!-- <div class="container">
      <div class="columns">
        <div class="column is-four-fifths">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus dolore, iure, quidem possimus pariatur qui quia perferendis dignissimos, maxime iste odio minima. Veritatis numquam rem placeat ex a. Fugiat, doloribus?</p>
        </div>
      </div>
    </div> -->
  </div>
</section>
