$section-padding-desktop: 0.5rem 3rem;
$section-padding-medium: 2rem 3rem;
$hero-body-padding-medium: 8.5rem 4.5rem ;
$modal-background-background-color: rgba(0, 0, 0, 0.571);

// Theme colors
$light: #ffffff;
$dark: #222222;

// Footer specific colors
$footer-background-color: #ddd7d7;
$footer-text-color: #333;
$footer-text-hover-color: #000000;
