<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="home">
      <img src="../../../../../../assets/images/logo.png" width="40">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="true" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="home" [routerLinkActive]="'selected'"
        [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
      <a class="navbar-item" routerLink="about" [routerLinkActive]="'selected'"
        [routerLinkActiveOptions]="{ exact: true }">
        About
      </a>
      <a class="navbar-item" routerLink="skills" [routerLinkActive]="'selected'"
        [routerLinkActiveOptions]="{ exact: true }">
        Skills
      </a>

      <a class="navbar-item" routerLink="experience" [routerLinkActive]="'selected'"
        [routerLinkActiveOptions]="{ exact: true }">
        Experience
      </a>

      <a class="navbar-item" routerLink="social" [routerLinkActive]="'selected'"
        [routerLinkActiveOptions]="{ exact: true }">
        Socials
      </a>

      <a class="navbar-item" routerLink="contact" [routerLinkActive]="'selected'"
        [routerLinkActiveOptions]="{ exact: true }">
        Contact
      </a>
    </div>
  </div>
</nav>
