<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="home">
      <img class="image is-32x32" src="../../../../../../assets/images/logo.png" width="40">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="true" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="home" [routerLinkActive]="'selected'"
        [routerLinkActiveOptions]="{ exact: true }">
        <strong class="shadow" >
          Home
        </strong>
      </a>
      <a class="navbar-item" routerLink="about" [routerLinkActive]="'selected'"
        [routerLinkActiveOptions]="{ exact: true }">
        <strong class="shadow" >
          About
        </strong>
      </a>
      <a class="navbar-item" routerLink="skills" [routerLinkActive]="'selected'"
        [routerLinkActiveOptions]="{ exact: true }">
        <strong class="shadow" >
          Skills
        </strong>
      </a>

      <a class="navbar-item" routerLink="experience" [routerLinkActive]="'selected'"
        [routerLinkActiveOptions]="{ exact: true }">
        <strong class="shadow" >
          Experience
        </strong>
      </a>

      <!-- <a class="navbar-item" routerLink="social" [routerLinkActive]="'selected'"
        [routerLinkActiveOptions]="{ exact: true }">
        Socials
      </a> -->

      <!-- <a class="navbar-item" routerLink="contact" [routerLinkActive]="'selected'"
        [routerLinkActiveOptions]="{ exact: true }">
        Contact
      </a> -->
    </div>
  </div>
</nav>
