.modal-content {
  margin-right: 8vh;
}

.modal-close {
  background-color: #00d1b2;
  position: absolute;
  top: -17px;
  left: 335px;
}

.box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
}
