@use 'design-tokens' as dt;

:host > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section {
  flex: 1;
  padding: 0.2rem 0rem 1.5rem 0rem;
}

.shadow {
  box-shadow: dt.shadow('md');
}
