.section {
  padding-top: 0.2rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

.shadow {
  box-shadow: 3px 2px 6px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 2px 6px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 6px -1px rgba(0,0,0,0.75);
}
