<div *ngIf="loading">
  <app-splash></app-splash>
</div>

<div *ngIf="!loading">
  <app-navbar class="mb-2"></app-navbar>
  <section class='section is-medium'>
    <router-outlet></router-outlet>
  </section>
  <app-footer></app-footer>
  <a (click)="toggleActivation()" class="fab button is-floating is-link" style="box-shadow: 9px 7px 16px -3px rgba(0,0,0,0.75)">
    <i class="fas fa-envelope" style="text-shadow: 5px 5px 10px black;"></i>
  </a>
  <app-modal [isActive]="modalActive" (reset)="modalActive = false"></app-modal>
</div>
