@use 'design-tokens' as dt;

section {
  min-height: 80.5vh;
}

.skills-container {
  white-space: wrap;
  overflow-x: auto;
}

.skill {
  display: inline-block;
  margin-right: dt.spacing('2xs');
  white-space: normal;
}

@include dt.respond-to('tablet') {
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: dt.spacing('2xs');
  }

  .skill {
    margin-right: 0;
  }
}
