<section class="hero is-medium has-background-success-light is-bold">
  <div class="hero-header">
    <app-tabs [tabs]="tabs"></app-tabs>

  </div>
  <div class="hero-body">
    <div class="container is-fluid">
      <div class="columns is-multiline">
        <div class="column is-half is-offset-one-quarter" *ngIf="completeSkills">
          <div class="box p-5">
            <div class="skills-container">
              <app-skill-box></app-skill-box>
              <!-- <div *ngFor="let skill of completeSkills" class="skill">
                <span class="icon-text" *ngIf="skill.icon">
                  <span class="icon">
                    <i class="devicon-{{skill.icon}}-plain colored" *ngIf="!skill.isPlainIcon"
                      style="font-size: x-large;"></i>
                    <i class="devicon-{{skill.icon}} colored" *ngIf="skill.isPlainIcon" style="font-size: x-large;"></i>
                  </span>
                </span>
                <span> {{skill.name}}</span>
              </div> -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
