section {
  min-height: 80.5vh;
}


.skills-container {
  white-space: wrap; /* Evita los saltos de línea */
  overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si el contenido se desborda */
}

.skill {
  display: inline-block; /* Muestra los skills uno al lado del otro */
  margin-right: 10px; /* Espacio entre los skills (ajusta según tus necesidades) */
  white-space: normal; /* Restaura el comportamiento normal de salto de línea para el texto dentro de los skills */
}


