<section class="section">
  <div class="container">
    <h2 class="title is-4">Positions</h2>
    <div class="columns is-multiline">
      <div class="column is-two-fifths" *ngFor="let work of work$ | async">
        <div class="card">
          <div class="card-content">
            <p class="title is-5">{{work.position}}</p>
            <a href="#" class="button is-primary">More details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title is-4">Experience</h2>
    <div class="timeline">
      <div class="timeline-item is-success" *ngFor="let work of work$ | async">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <br>
          <hr>
          <p class="heading">Company: <a href="{{work.website}}">{{work.company}}</a></p>
          <p class="subtitle">{{work.position}} => <b>{{work.startDate | date: 'MM/YYYY'}} </b> to <b>{{work.isCurrentRole ? 'Present' : work.endDate | date: 'MM/YYYY'}} </b></p>
          <p [innerHTML]="work.summary"></p>
        </div>
      </div>
    </div>
  </div>
</section>

