.custom-card {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3); // Light theme border
  background: rgba(255, 255, 255, 0.5); // Light theme background
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4); // Shadow for light theme

  // Paragraphs inside card-content will inherit themed color
}

.timeline-item {
  &:hover {
    background-color: rgba(200, 195, 195, 0.518); // Light theme hover
  }
}

.selected {
  padding-left: 2.5rem;
  margin-left: -2.1rem;
  background-color: aquamarine; // Light theme selected
  border-radius: 19px;
}

body.dark {
  .custom-card {
    border: 1px solid rgba(0, 0, 0, 0.3); // Dark theme border
    background: rgba(0, 0, 0, 0.2); // Dark theme background (slightly lighter than main dark bg)
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1); // Lighter shadow for dark theme
  }

  .timeline-item {
    &:hover {
      background-color: rgba(80, 80, 80, 0.518); // Dark theme hover
    }
  }

  .selected {
    background-color: darkcyan; // Dark theme selected (adjust as needed)
  }
}
