@import '../../../../../../styles/custom-variables';

.footer {
  padding: 10px;
  background-color: $footer-background-color;
}

.footer-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-items > div {
  flex: 1;
  text-align: center;
}

.footer-items > .made-by-bulma {
  flex: 0.5;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icons a {
  color: $footer-text-color;
  font-size: 20px;
}

.social-icons a:hover {
  color: $footer-text-hover-color;
}

body.dark {
  .footer {
    background-color: darken($dark, 5%); // Slightly lighter than main dark background
  }
  .social-icons a {
    color: $light; // Light text for dark background
  }
  .social-icons a:hover {
    color: darken($light, 15%); // Slightly darker light text for hover
  }
}
