<footer class="footer is-flex-align-items-flex-end mt-auto" >
  <div class="content has-text-centered">
    <div class="footer-items">
      <div class="copyright">Handcrafted by me.</div>
      <div class="made-by-bulma">
        <a href="https://bulma.io"><img src="https://bulma.io/images/made-with-bulma--dark.png" alt="Made with Bulma" width="163" height="31"></a>
      </div>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
