<footer class="footer is-flex-align-items-flex-end mt-auto" >
  <div class="content has-text-centered">
    <div class="footer-items">
      <div class="copyright">Handcrafted by me.</div>
      <div class="made-by-bulma">
        <a href="https://bulma.io"><img src="https://bulma.io/images/made-with-bulma--dark.png" alt="Made with Bulma" width="163" height="31"></a>
      </div>
      <div class="social-icons">
        <a (click)="goToLink(social.url)" class="is-link" *ngFor="let social of socials$ | async">
          <span class="icon is-medium pl-4">
            <i class="{{social.icon}} fa-lg"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</footer>
