    <div class="column">
      <div class="container ">
        <div class="notification is-primary ">
          <h2 class="title is-4">Contact</h2>
          <p class="is-size-5"><strong>Email:</strong></p>
          <p class="is-size-4">nicoazzara@hotmail.com</p>
        </div>
      </div>
      <div class="container mt-5 ">
        <div class="notification is-primary">
          <h2 class="title is-4">Social Networks</h2>
          <div class="buttons">
          <a href="#" class="button is-primary is-light">
            <span class="icon">
              <i class="fab fa-twitter"></i>
            </span>
            <span>Twitter</span>
          </a>
          <a href="#" class="button is-primary is-light">
            <span class="icon">
              <i class="fab fa-linkedin"></i>
            </span>
            <span>LinkedIn</span>
          </a>
          <a href="#" class="button is-primary is-light">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>Github</span>
          </a>
        </div>
      </div>
    </div>
  </div>
